<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Archana Bhogaraju - Experience</title>
   <link href="css/main.css" rel="stylesheet" type="text/css">
   <script src="js/main.js" defer></script>
</head>

<body>
   <header class="header">
      <nav class="navigation" role="navigation">
			<a href="index.html"><h1>Archana Bhogaraju</h1></a>
         <ul class="nav-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutme.html">About Me</a></li>
            <li><a href="experience.html" class="highlight">Experience</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="contact.html">Contact</a></li>
         </ul>
         <div class="hamburger"></div>
      </nav>
   </header>
   <div id="app">
      <template>
         <div class="experienceContainer">
            <section class="experience-section" v-for="(exp, index) in experienceData">
               <div class="experience-contents">
                  <article>
                     <h6 class="heading"><span class="point"></span>
                        <span class="position-name">{{ exp.experience.job }}</span>
                        <span class="duration">{{ exp.experience.duration }}</span>
                        <span class="sap"><a :href="exp.experience.link" target="_blank" aria-label="Link opens in a new tab or anchors to video">{{ exp.experience.organization }}</a></span>
                     </h6>
                     <ul v-if="exp.experience.points.length != 0">
                        <li v-for="point in exp.experience.points">
                           {{ point }}
                        </li>
                     </ul>
                     <div v-else class="margin-bottom">
                     </div>
                  </article>
               </div>
            </section>
            <section class="certification-section">
               <div class="certification-contents">
                  <table>
                     <caption>{{ tableTitle }}</caption>
                     <tr>
                        <th id="year">{{ tableHeader1 }}</th>
                        <th id="certification">{{ tableHeader2 }}</th>
                     </tr>
                     <tr v-for="(item, index) in certificateData">
                        <td>{{ item.certificate.year }}</td>
                        <td>{{ item.certificate.certification }}</td>
                     </tr>
                  </table>
               </div>
            </section>
            <section class="sap-video">
               <h4><em>{{ sapVideoTitle }}</em></h4>
               <video id="sapvideo" :src="sapVideoLink" controls=""></video>
               <a href="#top"><img :src="upArrow" class="e-img" alt="icon to go back to top"></a>
            </section>
         </div>
      </template>
   </div>
   <!--Include Vue-->
   <script src="https://archanab.me/js/vue.js"></script>

   <script>
      var app = new Vue({
         el: '#app',
         data: {
            experienceData: '',
            certificateData: '',
            tableTitle: "Certifications",
            tableHeader1: "Year",
            tableHeader2: "Certification",
            sapVideoTitle: "Want to know about SAP?",
            sapVideoLink: "https://d.dam.sap.com/m/3fqfxMD?vw=ys",
            upArrow: "images/up.svg",
         },
         methods: {

            getExperienceInfo: async function (url) {
               await fetch(url)
                  .then((response) => {
                     if (response.status == 200) {
                        return response.json()
                     } else {
                        throw new Error(
                           'An exception occurred while trying to fetch Experience Information!'
                        )
                     }
                  })
                  .then((data) => {
                     this.experienceData = (JSON.parse(JSON.stringify(data))).myExperience
                  })
                  .catch((error) => {
                     'An exception occurred while trying to fetch Experience Information!'
                  })
            },
            getCertificationInfo: async function (url) {
               await fetch(url)
                  .then((response) => {
                     if (response.status == 200) {
                        return response.json()
                     } else {
                        throw new Error(
                           'An exception occurred while trying to fetch Certification Information!'
                        )
                     }
                  })
                  .then((data) => {
                     this.certificateData = (JSON.parse(JSON.stringify(data))).myCertification
                  })
                  .catch((error) => {
                     'An exception occurred while trying to fetch Certification Information!'
                  })
            },
         },
         created: function () {
            this.getExperienceInfo('https://archanab.me/js/experience.json')
            this.getCertificationInfo('https://archanab.me/js/certification.json')
         },
      });
   </script>
</body>
</html>